@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Righteous', cursive;
	font-family: 'Share Tech Mono', monospace;
	overflow-x: hidden;
	color: #ffffff;
}

html {
	scroll-behavior: smooth;
}

#bg {
	width: 100vw;
	height: 100vh;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

#header {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 3.5rem;
	background-color: rgba(27, 27, 27, 0.99);
	z-index: 20;
}

.nav-menu {
	display: flex;
	align-items: center;
	font-size: 1rem;
	height: 100%;
}

.nav-item {
	display: flex;
	align-items: center;
	height: 100%;
	transition: all 0.2s ease;
}

.nav-item:hover {
	border-bottom: solid 3px #ffffff;
}
.nav-item:not(:first-of-type) {
	margin-left: 3.5rem;
}

.nav-item a {
	text-decoration: none;
}

p {
	text-align: justify;
}

main {
	width: 100vw;
	font-size: 1.25rem;
	line-height: 1.4;
}

.full-top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-top: 6rem;
	height: 100vh;
	width: 50rem;
	margin: 0 auto;
}

.full {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 6rem;
	height: 100%;
	width: 50rem;
	margin: 0 auto;
}

#main-heading {
	font-size: 6rem;
}

#sub-heading {
	font-size: 2rem;
	text-align: center;
}

.audio {
	position: absolute;
	top: 5rem;
	right: 1.5rem;
}

.intro {
	width: 30rem;
	background: rgba(0, 0, 0, 0.055);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.audio-btn {
	background: url('/images/headphone.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 2rem;
	position: fixed;
	right: 2rem;
	top: 6.2rem;
	height: 4rem;
	width: 4rem;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
}

.btn {
	margin: 2.5rem 0;
	color: #fff;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #fff;
	font-size: inherit;
	text-transform: uppercase;
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

.intro-btn-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#moon-leave {
	position: absolute;
	top: 3rem;
	right: 3rem;
	border-radius: 50%;
	height: 6rem;
	width: 6rem;
	color: #fff;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #fff;
	font-size: inherit;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
	text-align: center;
}

.btn:hover,
.audio-btn:hover,
#moon-leave:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.096);
	transform: scale(1.05);
}

.hidden {
	display: none;
}

.section-heading {
	font-size: 3rem;
	margin-bottom: 3rem;
	text-align: center;
}

.apod-container {
	width: 50rem;
	margin: 0 auto;
}

#project-links {
	width: 50rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin: 0.5rem 0 1rem 0;
	font-size: 0.9rem;
}

#project-links a {
	display: flex;
	align-items: center;
	text-decoration: none;
	width: 1.5rem;
	height: 1.5rem;
}

.project-link {
	display: flex;
	align-items: center;
	width: 8rem;
}

#react-logo {
	margin-left: .5rem;
	display: block;
	background: url('/public/images/react.png') center no-repeat;
	background-size: 1.5rem;
}

#github-logo {
	margin-left: .5rem;
	border-radius: 50%;
	border: 1px solid white;
	background: white url('/public/images/github-logo.png') center no-repeat;
	background-size: 1.5rem;
}

#apod-app-image {
	width: 100%;
}

.apod-app-description {
	font-size: 1rem;
	background: rgba(0, 0, 0, 0.226);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.about-description {
	font-size: 1rem;
	background: rgba(0, 0, 0, 0.226);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

footer {
	margin-top: 20rem;
	display: flex;
	flex-direction: column;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

.footer-link-container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.footer-anchor {
	margin: 1rem 0.5rem;
	border: 1px solid #fff;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
}

#linkedin-anchor {
	display: block;
	background: white url('/images/linkedin.png') center;
	background-size: 3rem;
}

#github-anchor {
	display: block;
	background: white url('/images/github.png') center;
	background-size: 3rem;
}

.footer-anchor:hover {
	transform: scale(1.05);
}

#email-link {
	margin-top: 4rem;
	text-decoration: none;
}

#email-link:hover {
	text-decoration: underline;
}

#back-to-top {
	margin: 5rem;
	height: 6rem;
	width: 6rem;
	background-image: url('/images/rocket.png');
	background-position: center;
	background-size: contain;
	background-color: transparent;
	transform: rotateZ(-45deg);
}

#back-to-top:hover {
	-webkit-animation: shake 0.5s ease-in-out;
	animation: shake 0.5s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(-45deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-46deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(-44deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(-44deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(-44deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-46deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(-45deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-46deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(-44deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(-45deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-46deg);
	}
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(-45deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-46deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(-44deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(-44deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(-44deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-46deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(-45deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-46deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(-44deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(-45deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-46deg);
	}
}

@media only screen and (max-width: 800px) {
	.audio-btn {
		position: fixed;
		top: 3.65rem;
		right: 0;
		background-size: 1.25rem;
		height: 2rem;
		width: 2rem;
	}

	#main-heading {
		font-size: 3.5rem;
	}

	#sub-heading {
		font-size: 1.5rem;
		text-align: center;
	}

	.intro {
		font-size: 1rem;
		width: 21rem;
	}

	.full-top {
		padding: 6rem 0 0 0;

		width: 100vw;
	}

	.full {
		padding: 6rem 0 0 0;
		height: auto;
		width: 100vw;
	}

	.btn {
		margin: 2rem 0;
		height: 5rem;
		width: 5rem;
	}

	#moon-leave {
		top: 1rem;
		right: 1rem;
		height: 5rem;
		width: 5rem;
	}

	.spacer {
		height: 15rem;
	}

	.apod-container {
		width: 80%;
		height: auto;
		margin: 0 auto 1rem auto;
	}

	#back-to-top {
		-webkit-animation: shake 0.5s ease-in-out;
		animation: shake 0.5s ease-in-out;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		margin: 3.5rem 0 2rem 0;
	}
}

@media only screen and (max-width: 900px) {
	.apod-container {
		width: 80%;
		height: auto;
		margin: 0 auto 1rem auto;
	}

	.apod-app-description,
	.about-description {
		width: 80%;
		font-size: 1rem;
	}

	#project-links {
		width: 80%;
		/* display: flex;
		flex-direction: column;
		gap: 0.3rem;
		margin: 0.5rem 0 1rem 0;
		font-size: 0.9rem; */
	}

	#back-to-top {
		-webkit-animation: shake 0.5s ease-in-out;
		animation: shake 0.5s ease-in-out;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		margin: 3.5rem 0 2rem 0;
	}
}
