@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	/* font-family: 'Righteous', cursive; */
	font-family: 'Share Tech Mono', monospace;
	overflow-x: hidden;
	color: #ffffff;
}

html {
	scroll-behavior: smooth;
}

#bg {
	/* this is not correct, need to check how to make it fully reposnsive */
	width: 100vw;
	height: 100vh;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;

	background: url(/textures/2k_stars_milky_way.jpg) no-repeat center center;
	background-size: cover;
}

#header {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 3.5rem;
	background-color: rgba(27, 27, 27, 0.99);
	z-index: 20;
}

.nav-menu {
	display: flex;
	align-items: center;
	font-size: 1rem;
	height: 100%;
}

.nav-item {
	display: flex;
	align-items: center;
	height: 100%;
	transition: all 0.2s ease;
}

.nav-item:hover {
	border-bottom: solid 3px #ffffff;
}
.nav-item:not(:first-of-type) {
	margin-left: 3.5rem;
}

.nav-item a {
	text-decoration: none;
}

p {
	text-align: justify;
}

main {
	width: 100vw;
	font-size: 1.25rem;
}

.intro {
	width: 30rem;
}

.btn {
	margin-top: 2rem;
	padding: 1rem 2rem;
	color: #fff;
	background-color: #000;
	border: 1px solid #fff;
	font-size: inherit;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
}

#iss-leave {
	position: absolute;
	bottom: 2rem;
	right: 3rem;
}

#moon-leave {
	position: absolute;
	top: 2rem;
	right: 3rem;
}

.btn:hover {
	cursor: pointer;
	background-color: #fff;
	color: #000;
	transform: scale(1.05);
}

.full {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: 6.5rem;
	height: 100vh;
	width: 50rem;
	margin: 0 auto;
}

.hidden {
	display: none;
}

#main-heading {
	font-size: 6rem;
}

#sub-heading {
	font-size: 2rem;
	text-align: center;
}

.spacer {
	height: 22.5rem;
}

.section-heading {
	font-size: 3rem;
	margin-bottom: 3rem;
	text-align: center;
}

.description {
	font-size: 3rem;
	text-align: center;
}

.apod-container {
	width: 50rem;
	height: 30rem;
	margin: 0 auto;
}

#apod-app-image {
	width: 100%;
}

.apod-app-description {
	font-size: 1rem;
}

footer {
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

#back-to-top {
	font-size: 1.5rem;
	margin-bottom: 5rem;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}

#back-to-top a {
	color: black;
	text-decoration: none;
}
