@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*,
*::before,
*::after {
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Righteous', cursive;
	overflow-x: hidden;
	color: #ffffff;
}

#bg {
	/* this is not correct, need to check how to make it fully reposnsive */
	width: 100vw;
	height: 100vh;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	background: url(/textures/2k_stars_milky_way.jpg) no-repeat center center;
	background-size: cover;
}

#header {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 3rem;
	background-color: black;
	border-bottom: solid 1px #ffffff;
	z-index: 2;
}

.nav-menu {
	display: flex;
}

.nav-item:not(:first-of-type) {
	margin-left: 5rem;
}

.nav-item a {
	text-decoration: none;
}

main {
	width: 100vw;
}

section {
	padding-top: 6.5rem;
	height: 100vh;
}

#home {
	margin-top: 6rem;
}

#main-heading {
	font-size: 6rem;
	text-align: center;
}

#sub-heading {
	font-size: 2rem;
	text-align: center;
}

.section-heading {
	font-size: 3rem;
	text-align: center;
}

.description {
	font-size: 3rem;
	text-align: center;
}
